# File di configurazione specifici dell'IDE (es. IntelliJ, PyCharm)
.idea/

# Cache di Python
__pycache__/
*.pyc

# File .env
.env

# Cartella dei dati dinamici 
data/

# Altri file comuni da ignorare
*.DS_Store
*.log
*.tmp
*.temp
# Eventuali ambienti virtuali, es:
.venv/